body.slide-active {
  overflow-x: hidden;
}

.nav {
  width: 300px;
  height: 100%;
  float: right;
  background-color: #E0A18D;
}

.nav ul {
  margin-top: 60px;
}

.nav a{
  color: #fff;
}

.nav #slidemenu {
  right: -100%;
  width: 80%;
  min-width: 0;
  position: absolute;
  padding-right: 0;
  z-index: 2;
  top: -80%;
  margin: 0;
}

.nav-toggle {
  width: 50px;
  height: 50px;
  right: 0;

  font-size: 35px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

#page-content {
  position: relative;
  right: 0;
}
